/* グローバルスタイルをここに追加 */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #f0f2f5;
  padding: 5px;
  text-align: center;
  font-size: 35px;
  color: #333;
  font-family: "Nico Moji";
}

footer {
  background-color: #343a40; /* 背景色を変更 */
  padding: 20px; /* パディングを増やす */
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 20px;
  color: #fff; /* テキストの色を白に変更 */
  font-family: "Nico Moji";
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* 影を追加 */
  border-top: 3px solid #495057; /* 上部にボーダーを追加 */
}
